<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- SECTION: Site Title -->
    <!-- The Site's title, and if there is a page title, that is set too, except on the home page -->
    <title>
        {{ block "title" . }}
            {{ if not .IsHome }}
                {{ .Title }} | {{ .Site.Title }}
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        {{ end }}
    </title>


    <!-- SECTION: Description -->
    <!-- Short description of the page (limit to 150 characters) -->
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"/>

    {{ .Hugo.Generator }}

    <!-- SECTION: Keywords -->
    <!--
        NOTE: Meta tag for keywords is no longer recommended
        https://github.com/joshbuchea/HEAD
        https://github.com/jekyll/jekyll-seo-tag
    -->


    <!-- SECTION: Content Language -->
    <meta name="content-language" content="{{ if isset .Params "language" }}{{ .Params.language }}{{ else }}{{ $.Site.LanguageCode | default "en" }}{{ end }}">


    <!-- SECTION: Icons https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <!-- SECTION: CSS -->
    {{ partial "css.html" . }}


    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

</head>


<!-- SECTION: Body -->
<body data-spy="scroll" data-target=".sidebar" data-offset="200">

    <!-- Variable for ./data/areas.toml -->
    {{ $areas := .Site.Data.areas }}
    {{ $area1 := $areas.area1 }}
    {{ $area2 := $areas.area2 }}
    {{ $area3 := $areas.area3 }}

    <!-- SECTION: Block Sidebar -->
    {{ block "sidebar" . }}
        {{ partial "sidebar.html" . }}
    {{ end }}


    <!-- SECTION: Block Header -->
    {{ block "header" . }}
        {{ partial "header.html" . }}
    {{ end }}


    <!-- SECTION: Block Main -->
    {{ block "main" . }}
        <!-- Content comes from template with 'define main' -->
    {{ end }}


    <!-- SECTION: JavaScript -->
    {{ partial "js.html" . }}

</body>
</html>
