<header class="site-header navbar-fullwidth">

    <!-- Top navbar & branding -->
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- Toggle buttons and brand -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>

                <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- END Toggle buttons and brand -->

            <!-- Top navbar -->
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Documentation</a></li>
                    <!-- <li><a href="http://support.templines.com/" target="_blank">Support</a></li> -->
                    <!-- <li class="hero"><a href="https://themeforest.net/user/templines/portfolio">Purchase</a> -->
                    </li>
                </ul>
            </div>
            <!-- END Top navbar -->

        </div>
    </nav>
    <!-- END Top navbar & branding -->

</header>
