<!-- https://discourse.gohugo.io/t/bundle-many-resources/13497/10 -->
{{ $scripts := getJSON "./assets/js/scripts.json" }}
{{ $.Scratch.Set "jslibs" slice }}
{{ range $scripts.scripts }}
    {{ $.Scratch.Add "jslibs" (resources.Get . ) }}
{{ end }}

{{ if .Site.IsServer }}

    {{ $js := .Scratch.Get "jslibs" | resources.Concat "/js/bundle.js" }}
    <script src="{{ $js.Permalink }}" async></script>

{{ else }}

    {{ $js := .Scratch.Get "jslibs" | resources.Concat "/js/bundle.js" | resources.Minify | fingerprint }}
    <script src="{{ $js.Permalink }}"></script>

{{ end }}
