{{ define "main" }}
    <main role="main">

        <h1 itemprop="headline">...aaand that's a broken link!</h1>
        <span></span>

        <section itemprop="entry-text">
            <p>Technically this is called <strong>HTTP Error 404</strong>.</p>
            <p>The link you used leads to nowhere.</p>
        </section>

    </main>
{{ end }}
