{{ define "main" }}
    <main class="container-fluid">

        <!-- Variable for ./data/areas.toml -->
        {{ $header := .Site.Data.header }}
        {{ $area1  := .Site.Data.area1 }}
        {{ $area2  := .Site.Data.area2 }}
        {{ $area3  := .Site.Data.area3 }}

        <!-- Main content -->
        <article class="main-content" role="main">

            <header>
                <p id="welcome"><img src="{{ $header.image }}" alt="{{ $header.alt }}"></p>

                <p>{{ $header.text }}</p>
            </header>

            <!-- Area 1 -->
            <section id="{{ $area1.header.id }}">

                {{ range $area1.chapter }}
                    <h2 id="{{ .id }}">{{ .headline }}</h2>

                    {{ range .text }}
                        <p>{{ . }}</p>
                    {{ end }}
                {{ end }}

            </section>
            <!-- END Area 1 -->

            <!-- Area 2 -->
            <section id="{{ $area2.header.id }}">

                {{ range $area2.chapter }}
                    <h2 id="{{ .id }}">{{ .headline }}</h2>

                    {{ range .text }}
                        <p>{{ . }}</p>
                    {{ end }}
                {{ end }}

            </section>
            <!-- END Area 2 -->

            <!-- Area 3 -->
            <section id="{{ $area3.header.id }}">

                {{ range $area3.chapter }}
                    <h2 id="{{ .id }}">{{ .headline }}</h2>

                    {{ range .text }}
                        <p>{{ . }}</p>
                    {{ end }}
                {{ end }}

            </section>
            <!-- END Area 3 -->

        </article>
        <!-- END Main content -->

    </main>

{{ end }}
